* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #666;
}
main {
    background-color: rgba(170, 170, 170, 0.3);
    padding: 5vmin;
}
h1 {
    padding-bottom: 2vmin;
}
[type=number] {
    margin: 1vmin 0 2vmin;
    padding: 3px;
    width: 50%;
}
#result {
    margin-top: 2vmin;
}
span {
    color: rgb(184, 0, 0);
}
.rest {
    padding-top: 1vmin;
    color: red;
}